    </div>
    <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
    <!-- Scripts -->

    {{ if isset .Site.Params "customjs" }}
      {{ $.Scratch.Set "jsFiles" .Site.Params.customJS }}
    {{ else }}
      {{ $.Scratch.Set "jsFiles" false }}
    {{ end }}

    {{ if (not .Params.disable_highlight) }}
      {{ $highVer := .Site.Params.highlightjsVersion }}
      {{ $highCDN := (.Site.Params.highlightjsCDN | default "//cdn.bootcss.com") }}
      {{ if (not (eq $highVer "")) }}
        <script src="{{ $highCDN }}/ajax/libs/highlight.js/{{ $highVer }}/highlight.min.js"></script>
        {{ $.Scratch.Set "highLangs" .Site.Params.highlightjsLang }}
        {{ range .Params.highlightjsLang }}{{ $.Scratch.Add "highLangs" . }}{{ end }}
        {{ range ($.Scratch.Get "highLangs") }}
        <script src="{{ $highCDN }}/ajax/libs/highlight.js/{{ $highVer }}/languages/{{ . }}.min.js"></script>{{ end }}
        <script>hljs.configure({languages: []}); hljs.initHighlightingOnLoad();</script>
      {{ end }}
    {{ end }}
    <!-- If the value "default" is passed into the param then we will first
     load the standard js files associated with the theme -->
    {{ if or (in ($.Scratch.Get "jsFiles") "default") (eq ($.Scratch.Get "jsFiles") false) }}
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
      <script src="{{ "js/util.js" | relURL }}"></script>
      <script src="{{ "js/main.js" | relURL }}"></script>
      <script src="{{ "js/backToTop.js" | relURL }}"></script>
    {{ end }}

    {{ if ne ($.Scratch.Get "jsFiles") false }}
      {{ range $.Scratch.Get "jsFiles" }}
        {{ if ne . "default" }}
          <script src="{{ . | relURL }}"></script>
        {{ end }}
      {{ end }}
    {{ end }}

    <!-- This is called by default since this theme uses highlight.js -->
    <script>hljs.initHighlightingOnLoad();</script>
      {{ partial "footer_mathjax" . }}
  </body>
</html>
