/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  within the formating given.
*/

html {
    background-color: #252a34;
    font-family: "Didact Gothic","sans serif";
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: #ebeced;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}


body {
	background: #181c23;
}

body, input, select, textarea {
	color: #ffffff;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: 400;
	line-height: 1.75;
}

#header {
	background: #252a34;
}

#header h1 a{
	color: #fcfcfc;
}

#intro header h2 {
	color: #fcfcfc;
	opacity: 0.6;
}

.mini-post header {
	background: #252a34;	
}

.mini-post {
	background: #252a34;
}

.post {
	background: #252a34;
}

.post > header .meta .published {
	color: #fcfcfc;
	border: #fcfcfc;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #fcfcfc;
}

article.post p, article.post ol, article.post h2, article.post h3, article.post h4 {
    color: #fcfcfc;
    opacity: 0.9;
}

.button {
	color: #fcfcfc;
}

ul.actions.pagination .button {
	background: #252a34;
}

.itemized {
	background: #252a34;
}

#menu > * {
    background: #252a34;
}

#header .main ul li > a:before {
    color: white;
}